In [158]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
import unidecode
import os

#### Funciones

In [159]:
def doClean(object):   
    
    # Quitar las expresiones tras la barra /
    a = re.sub('\/.*', '', object)
    # Quitar las aclaraciones entre paréntesis
    a = re.sub('\(.*\)', '', a)
    # Quitar acentos 
    a = unidecode.unidecode(a)
    # Quitar aquello que no sean palabras o cosa que se le parezca
    a = re.sub('\W', ' ', a) 
    # Quitar espacios extra en caso de haber
    a = re.sub('\s+', ' ', a)
    # Pasar el texto a minúsulas
    a = a.lower() 
    a = re.sub(' ', '_', a)
    #a = a.strip() 
    
    return a

#### Carga de ficheros

In [160]:
os.getcwd()

'/Users/isabelponsaglio/AI Saturdays/Merge Maestro'

##### CARGAR MAESTRO

In [161]:
maestro_municipios_ine=pd.read_csv("maestro_idiomas_ine.csv", index_col=0,dtype={'postal_code': object,'ine_code': object})

In [162]:
maestro_municipios_ine.head(3)

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,cities_es/ccaa_es,cities_es/ccaa,cities/province_es,province_es/ccaa_es,province_es/ccaa,province/ccaa_es,province/ccaa
0,01001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,alegria_dulantzi/pais_vasco,alegria_dulantzi/pais_vasco,alegria_dulantzi/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco
1,01001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,alegria_dulantzi/pais_vasco,alegria_dulantzi/pais_vasco,alegria_dulantzi/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco
2,01002,01450,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,amurrio/pais_vasco,amurrio/pais_vasco,amurrio/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco

##### Poblacion por género y edad

In [163]:
poblacion = pd.read_csv('pob_municipio_edad_genero.csv',sep = ';')

In [164]:
poblacion_genero = poblacion.rename(columns={'cp':'codigo ine','municipio':'localidad'})
poblacion_genero['codigo ine']=poblacion_genero['codigo ine'].apply("{:05d}".format)

In [165]:
poblacion_genero.head(3)

,codigo ine,localidad,Hombres,hombres total,hombres de 0-4,hombres de 5-9,hombres de 10-4,hombres de 15-19,hombres de 20-24,hombres de 25-29,...,mujeres de 55-59,mujeres de 60-64,mujeres de 65-69,mujeres de 70-74,mujeres de 75-79,mujeres de 80-84,mujeres de 85-89,mujeres de 90-94,mujeres de 95-99,mujeres de 100 y más
0,01051,Agurain/Salvatierra,1,2526,180,159,147,97,100,119,...,200,178,154,112,94,63,64,62,45,8
1,01001,Alegría,1,1501,75,123,119,99,58,54,...,132,74,54,54,43,36,15,18,7,2
2,01002,Amurrio,1,5100,278,296,249,202,227,227,...,408,416,405,339,263,205,170,133,83,18

In [166]:
poblacion_genero.drop(['Hombres'], axis=1,  inplace=True)

In [167]:
poblacion_genero.drop(['localidad'], axis=1,  inplace=True)

In [168]:
maestro_municipios_ine.head(3) #Se aprecia que hay 14729 municipios en el maestro, pero solo 8131 en poblacion_genero

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,cities_es/ccaa_es,cities_es/ccaa,cities/province_es,province_es/ccaa_es,province_es/ccaa,province/ccaa_es,province/ccaa
0,01001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,alegria_dulantzi/pais_vasco,alegria_dulantzi/pais_vasco,alegria_dulantzi/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco
1,01001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,alegria_dulantzi/pais_vasco,alegria_dulantzi/pais_vasco,alegria_dulantzi/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco
2,01002,01450,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,amurrio/pais_vasco,amurrio/pais_vasco,amurrio/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco

In [169]:
union = pd.merge(maestro_municipios_ine, poblacion_genero, left_on='ine_code',right_on='codigo ine', how='left')

In [170]:
save=union.drop(['codigo ine'], axis=1)

In [171]:
save

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,...,mujeres de 55-59,mujeres de 60-64,mujeres de 65-69,mujeres de 70-74,mujeres de 75-79,mujeres de 80-84,mujeres de 85-89,mujeres de 90-94,mujeres de 95-99,mujeres de 100 y más
0,01001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,132.0,74.0,54.0,54.0,43.0,36.0,15.0,18.0,7.0,2.0
1,01001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,132.0,74.0,54.0,54.0,43.0,36.0,15.0,18.0,7.0,2.0
2,01002,01450,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,408.0,416.0,405.0,339.0,263.0,205.0,170.0,133.0,83.0,18.0
3,01002,01468,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,408.0,416.0,405.0,339.0,263.0,205.0,170.0,133.0,83.0,18.0
4,01002,01470,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,408.0,416.0,405.0,339.0,263.0,205.0,170.0,133.0,83.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14724,52001,52002,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,2797.0,2503.0,2077.0,1417.0,1057.0,923.0,793.0,479.0,215.0,53.0
14725,52001,52003,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,2797.0,2503.0,2077.0,1417.0,1057.0,923.0,793.0,479.0,215.0,53.0
14726,52001,52004,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,2797.0,2503.0,2077.0,1417.0,1057.0,923.0,793.0,479.0,215.0,53.0
14727,52001,52005,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,2797.0,2503.0,2077.0,1417.0,1057.0,923.0,793.0,479.0,215.0,53.0
14728,52001,52006,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,2797.0,2503.0,2077.0,1417.0,1057.0,923.0,793.0,479.0,215.0,53.0

In [15]:
#save.to_csv("union_poblacion.csv")

##### Parque automovilistico

In [172]:
parque_automovilistico_initial=pd.read_csv('parque_automoviles_2018.csv', encoding="utf-8",delim_whitespace=True)

In [173]:
parque_automovilistico_initial.head(3)

,PROVINCIAS,CAMIONES,FURGONETAS,AUTOBUSES,TURISMOS,MOTOCICLETAS,TRACTORES_INDUSTRIALES,R_Y_S,OTROS_VEHÍCULOS,TOTAL
0,Araba/Álava,14473,14749,538,158049,16011,1334,3208,4969,213331
1,Albacete,28809,21770,418,191601,25960,3438,5708,4224,281928
2,Alicante/Alacant,99962,78036,1646,998654,152164,5886,14206,12040,1362594

In [174]:
#parque_automovilistico_clean=parque_automovilistico_initial.rename(columns = {'PROVINCIAS':'provincia','CAMIONES':'camiones_provincia','FURGONETAS':'furgonetas_provincia','AUTOBUSES':'autobuses_provincia','TURISMOS':'turismos_provincia','MOTOCICLETAS':'motocicletas_provincia','TRACTORES_INDUSTRIALES':'tractores_industriales_provincia','R_Y_S':'r_y_s_provincia','OTROS_VEHÍCULOS':'otros_vehiculos_provincia','TOTAL':'total_provincia'})
def standardize_headers(x):
    return x.replace(' ', '_').lower()
parque_automovilistico_clean=parque_automovilistico_initial.rename(columns=standardize_headers)

In [175]:
parque_automovilistico_clean.head(3)

,provincias,camiones,furgonetas,autobuses,turismos,motocicletas,tractores_industriales,r_y_s,otros_vehículos,total
0,Araba/Álava,14473,14749,538,158049,16011,1334,3208,4969,213331
1,Albacete,28809,21770,418,191601,25960,3438,5708,4224,281928
2,Alicante/Alacant,99962,78036,1646,998654,152164,5886,14206,12040,1362594

In [176]:
parque_automovilistico_clean['provincias'] = parque_automovilistico_clean['provincias'].apply(doClean)

In [177]:
#test=pd.merge(maestro_municipios_ine,parque_automovilistico_clean, left_on='province', right_on='provincias', how='left')
test=pd.merge(save,parque_automovilistico_clean, left_on='province', right_on='provincias', how='left')

In [178]:
test

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,...,provincias,camiones,furgonetas,autobuses,turismos,motocicletas,tractores_industriales,r_y_s,otros_vehículos,total
0,01001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,araba,14473.0,14749.0,538.0,158049.0,16011.0,1334.0,3208.0,4969.0,213331.0
1,01001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,araba,14473.0,14749.0,538.0,158049.0,16011.0,1334.0,3208.0,4969.0,213331.0
2,01002,01450,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,araba,14473.0,14749.0,538.0,158049.0,16011.0,1334.0,3208.0,4969.0,213331.0
3,01002,01468,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,araba,14473.0,14749.0,538.0,158049.0,16011.0,1334.0,3208.0,4969.0,213331.0
4,01002,01470,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,araba,14473.0,14749.0,538.0,158049.0,16011.0,1334.0,3208.0,4969.0,213331.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14724,52001,52002,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,melilla,4191.0,9095.0,62.0,45293.0,6731.0,108.0,581.0,654.0,66715.0
14725,52001,52003,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,melilla,4191.0,9095.0,62.0,45293.0,6731.0,108.0,581.0,654.0,66715.0
14726,52001,52004,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,melilla,4191.0,9095.0,62.0,45293.0,6731.0,108.0,581.0,654.0,66715.0
14727,52001,52005,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,melilla,4191.0,9095.0,62.0,45293.0,6731.0,108.0,581.0,654.0,66715.0
14728,52001,52006,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,melilla,4191.0,9095.0,62.0,45293.0,6731.0,108.0,581.0,654.0,66715.0

In [179]:
save2=test.drop(['provincias'], axis=1)

In [180]:
save2=save2.rename(columns = {'camiones':'camiones_provincia','furgonetas':'furgonetas_provincia','autobuses':'autobuses_provincia','turismos':'turismos_provincia','motocicletas':'motocicletas_provincia','tractores_industriales':'tractores_industriales_provincia','r_y_s':'r_y_s_provincia','otros_vehículos':'otros_vehiculos_provincia','total':'total_provincia'})
#Deberia hacerse una funcion para hacer esto automaticamente

In [181]:
save2.head(3)

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,...,mujeres de 100 y más,camiones_provincia,furgonetas_provincia,autobuses_provincia,turismos_provincia,motocicletas_provincia,tractores_industriales_provincia,r_y_s_provincia,otros_vehiculos_provincia,total_provincia
0,01001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,2.0,14473.0,14749.0,538.0,158049.0,16011.0,1334.0,3208.0,4969.0,213331.0
1,01001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,2.0,14473.0,14749.0,538.0,158049.0,16011.0,1334.0,3208.0,4969.0,213331.0
2,01002,01450,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,18.0,14473.0,14749.0,538.0,158049.0,16011.0,1334.0,3208.0,4969.0,213331.0

In [26]:
#test['hombres de 20-24'] ##test.to_csv("union_poblacion_parque_automovilistico.csv")

##### Latitud longitud y altitud

In [182]:
altitud_coordenadas_distancias_minimas=pd.read_csv('altitud_coordenadas_distancias_minimas.csv',index_col=0,dtype={'columns': float})

In [183]:
altitud_coordenadas_distancias_minimas

,comunidad,provincia,población,latitud,longitud,altitud,distanica_km,cuidad_mas_cercana
0,andalucia,almeria,abla,37.14114,-2.780104,871.16840,46.876723,El_Ejido
1,andalucia,almeria,abrucena,37.13305,-2.797098,976.93870,45.944207,El_Ejido
2,andalucia,almeria,adra,36.74807,-3.022522,10.97898,20.080240,El_Ejido
3,andalucia,almeria,albanchez,37.28710,-2.181163,481.31230,68.678517,Lorca
4,andalucia,almeria,alboloduy,37.03319,-2.621750,388.43460,38.276484,El_Ejido
...,...,...,...,...,...,...,...,...
8141,valencia,valencia,xeresa,39.00910,-0.217992,34.05847,28.415725,Torrente
8142,valencia,valencia,xirivella,39.46669,-0.427794,35.01973,23.491681,Paterna
8143,valencia,valencia,yatova,39.38500,-0.808174,441.81140,47.526626,Torrente
8144,valencia,valencia,yesa_,39.49916,-0.426125,52.28455,24.914638,Sabadell
8145,valencia,valencia,zarra,39.09138,-1.075068,576.03660,39.757059,Albacete

In [184]:
altitud_coordenadas_distancias_minimas['población'].apply(doClean)
altitud_coordenadas_distancias_minimas['provincia'].apply(doClean)
altitud_coordenadas_distancias_minimas['comunidad'].apply(doClean)

0       andalucia
1       andalucia
2       andalucia
3       andalucia
4       andalucia
          ...
8141     valencia
8142     valencia
8143     valencia
8144     valencia
8145     valencia
Name: comunidad, Length: 8146, dtype: object

In [185]:
save2

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,...,mujeres de 100 y más,camiones_provincia,furgonetas_provincia,autobuses_provincia,turismos_provincia,motocicletas_provincia,tractores_industriales_provincia,r_y_s_provincia,otros_vehiculos_provincia,total_provincia
0,01001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,2.0,14473.0,14749.0,538.0,158049.0,16011.0,1334.0,3208.0,4969.0,213331.0
1,01001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,2.0,14473.0,14749.0,538.0,158049.0,16011.0,1334.0,3208.0,4969.0,213331.0
2,01002,01450,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,18.0,14473.0,14749.0,538.0,158049.0,16011.0,1334.0,3208.0,4969.0,213331.0
3,01002,01468,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,18.0,14473.0,14749.0,538.0,158049.0,16011.0,1334.0,3208.0,4969.0,213331.0
4,01002,01470,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,18.0,14473.0,14749.0,538.0,158049.0,16011.0,1334.0,3208.0,4969.0,213331.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14724,52001,52002,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,53.0,4191.0,9095.0,62.0,45293.0,6731.0,108.0,581.0,654.0,66715.0
14725,52001,52003,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,53.0,4191.0,9095.0,62.0,45293.0,6731.0,108.0,581.0,654.0,66715.0
14726,52001,52004,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,53.0,4191.0,9095.0,62.0,45293.0,6731.0,108.0,581.0,654.0,66715.0
14727,52001,52005,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,53.0,4191.0,9095.0,62.0,45293.0,6731.0,108.0,581.0,654.0,66715.0
14728,52001,52006,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,53.0,4191.0,9095.0,62.0,45293.0,6731.0,108.0,581.0,654.0,66715.0

In [186]:
#print((save2[save2['cities_es'] == 'zarra']))

In [187]:
parametros_mar=pd.merge(save2,altitud_coordenadas_distancias_minimas, left_on='cities_es', right_on='población', how='left')

In [188]:
parametros_mar

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,...,otros_vehiculos_provincia,total_provincia,comunidad,provincia,población,latitud,longitud,altitud,distanica_km,cuidad_mas_cercana
0,01001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,4969.0,213331.0,pais_vasco,alava,alegria_dulantzi,42.84149,-2.513507,561.6857,34.443702,Bilbao
1,01001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,4969.0,213331.0,pais_vasco,alava,alegria_dulantzi,42.84149,-2.513507,561.6857,34.443702,Bilbao
2,01002,01450,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,4969.0,213331.0,pais_vasco,alava,amurrio,43.05265,-3.001022,219.6910,34.194237,Getxo
3,01002,01468,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,4969.0,213331.0,pais_vasco,alava,amurrio,43.05265,-3.001022,219.6910,34.194237,Getxo
4,01002,01470,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,4969.0,213331.0,pais_vasco,alava,amurrio,43.05265,-3.001022,219.6910,34.194237,Getxo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14964,52001,52002,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,654.0,66715.0,ceuta_y_melilla,melilla,melilla,35.29234,-2.938794,10.3337,0.282370,Melilla
14965,52001,52003,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,654.0,66715.0,ceuta_y_melilla,melilla,melilla,35.29234,-2.938794,10.3337,0.282370,Melilla
14966,52001,52004,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,654.0,66715.0,ceuta_y_melilla,melilla,melilla,35.29234,-2.938794,10.3337,0.282370,Melilla
14967,52001,52005,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,654.0,66715.0,ceuta_y_melilla,melilla,melilla,35.29234,-2.938794,10.3337,0.282370,Melilla
14968,52001,52006,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,654.0,66715.0,ceuta_y_melilla,melilla,melilla,35.29234,-2.938794,10.3337,0.282370,Melilla

In [189]:
parametros_mar.drop(['provincia','población'], axis=1,  inplace=True)

#### Climatología

In [190]:
climatologia=pd.read_csv("climatologia_limpio.csv",index_col=0,dtype={'columns': object})

In [191]:
climatologia

,n_llu_anual,n_nub_anual,n_nie_anual,n_gra_anual,n_fog_anual,n_des_anual,n_cub_anual,n_tor_anual,nt_00_anual,nt_30_anual,nw_55_anual,nw_91_anual,w_med_anual,ta_max_anual,ta_min_anual,PROVINCIA
0,353.500000,305.5,0.000000,12.500000,151.500000,93.000000,149.000000,11.500000,4.772727,5.272727,26.900000,0.700000,25.681818,33.5(31/may),3.3(04/ene),coruna
1,76.500000,104.0,0.000000,2.000000,14.000000,62.500000,16.000000,11.000000,45.500000,86.500000,2.477273,0.125000,10.071429,38.7(12/jul),-8.6(11/ene),albacete
2,64.500000,94.0,0.000000,0.500000,1.500000,70.500000,18.000000,11.000000,0.500000,33.312500,2.638889,0.000000,11.111111,36.6(27/jul),0.0(12/ene),alicante
3,35.000000,178.0,0.000000,0.000000,6.000000,167.000000,20.000000,4.000000,0.000000,49.000000,7.500000,0.600000,16.272727,41.6(06/jul),4.8(06/ene),almeria
4,160.000000,218.0,2.000000,0.000000,51.000000,27.000000,120.000000,19.000000,48.000000,34.000000,3.500000,0.250000,12.545455,39.7(29/jun),-7.7(06/ene),araba
5,387.500000,153.5,0.500000,13.500000,52.500000,20.312500,98.687500,31.500000,3.250000,1.562500,20.000000,1.800000,10.770833,NaN,NaN,asturias
6,85.000000,0.0,10.000000,2.000000,9.000000,0.000000,0.000000,7.000000,58.000000,42.000000,2.545455,0.000000,11.000000,36.9(29/jun),-6.4(11/ene),avila
7,68.000000,182.0,0.000000,0.000000,35.000000,134.000000,49.000000,5.000000,18.000000,118.000000,17.000000,0.000000,10.000000,40.2(11/jul),-3.7(07/ene),badajoz
8,155.000000,488.0,0.090909,1.181818,21.272727,159.500000,82.500000,30.181818,4.000000,106.500000,35.400000,0.300000,41.227273,34.4(08/jul),0.4(12/ene),baleares
9,90.000000,221.0,0.000000,3.000000,19.000000,91.500000,52.500000,20.500000,0.500000,34.000000,28.500000,0.500000,16.000000,37.7(28/jun),-0.7(11/ene),barcelona
10,184.000000,171.0,2.000000,5.000000,19.000000,39.000000,155.000000,19.000000,4.000000,18.000000,3.444444,0.333333,12.000000,40.7(27/jun),-2.3(05/ene),bizkaia
11,141.000000,196.0,17.000000,4.000000,22.000000,73.000000,96.000000,21.000000,81.000000,36.000000,3.500000,0.000000,17.000000,38.8(27/jun),-9.5(04/feb),burgos
12,86.000000,0.0,0.000000,1.000000,10.000000,0.000000,0.000000,1.000000,12.000000,98.000000,23.000000,1.000000,11.000000,40.3(22/jul),-2.6(04/feb),caceres
13,125.000000,384.0,0.000000,0.000000,68.583333,285.000000,61.000000,8.000000,1.111111,54.055556,48.016667,0.000000,47.453571,NaN,NaN,cadiz
14,194.000000,195.0,0.500000,4.500000,6.500000,38.000000,132.000000,20.500000,1.500000,4.000000,5.636364,0.727273,7.409091,34.8(08/ago),3.6(05/ene),cantabria
15,48.000000,0.0,0.000000,3.000000,1.000000,0.000000,0.000000,9.000000,0.000000,65.000000,17.000000,0.000000,9.000000,38.8(29/jun),3.0(11/ene),castellon
16,4.400000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.000000,4.444444,0.000000,11.272727,36.4(08/ago),7.9(03/feb),ceuta
17,91.000000,0.0,0.000000,5.000000,19.000000,0.000000,0.000000,12.000000,29.000000,105.000000,0.900000,0.000000,8.000000,42.7(28/jun),-4.4(12/ene),ciudad_real
18,65.000000,120.0,0.000000,1.000000,8.000000,12.375000,3.250000,7.000000,1.600000,11.400000,1.000000,0.000000,9.888889,0,0,cordoba
19,96.000000,186.0,1.000000,8.000000,1.000000,0.000000,0.000000,6.000000,52.000000,78.000000,0.818182,0.000000,7.000000,39.2(29/jun),-5.8(11/ene),cuenca
20,194.500000,81.5,0.500000,4.500000,46.000000,25.318182,72.000000,23.000000,2.000000,7.500000,6.227273,0.737374,13.000000,39.8(23/jul),-2.2(05/ene),gipuzkoa
21,102.000000,132.0,0.000000,0.000000,34.000000,9.375000,4.375000,16.000000,4.000000,5.428571,0.000000,0.000000,10.500000,0,0,girona
22,62.000000,176.5,0.000000,0.500000,9.000000,153.500000,35.000000,8.000000,57.000000,113.500000,0.804545,0.000000,9.803030,42.6(28/jun),-6.9(12/ene),granada
23,116.000000,0.0,17.000000,7.000000,20.000000,0.000000,0.000000,25.000000,112.000000,52.000000,0.900000,0.000000,7.000000,37.8(29/jun),-11.3(11/ene),guadalajara
24,5.454545,0.0,0.000000,0.090909,1.909091,0.000000,0.000000,0.454545,0.000000,86.000000,19.000000,0.000000,13.000000,37.2(17/ago),0.4(07/ene),huelva
25,99.000000,0.0,0.000000,1.000000,27.000000,0.000000,0.000000,24.000000,29.000000,64.000000,0.750000,0.000000,9.000000,41.2(29/jun),-5.8(03/ene),huesca
26,4.700000,0.0,0.100000,0.200000,0.300000,0.000000,0.000000,0.900000,3.000000,97.000000,2.000000,0.000000,9.222222,40.6(22/jul),-1.4(11/ene),jaen
27,126.000000,232.0,2.000000,0.000000,14.000000,69.000000,64.000000,16.000000,17.000000,60.000000,1.285714,0.000000,10.636364,42.2(29/jun),-2.5(16/ene),la_rioja
28,89.000000,547.5,0.000000,0.000000,0.000000,106.772727,18.409091,3.500000,0.000000,2.575758,17.583333,0.000000,49.092857,NaN,NaN,las_palmas
29,123.500000,107.0,5.000000,2.000000,28.500000,39.500000,36.000000,13.000000,62.000000,42.000000,1.979798,0.000000,9.500000,35.7(28/jun),-5.3(11/ene),leon
30,93.000000,92.0,0.000000,1.000000,30.000000,14.142857,3.142857,15.000000,26.000000,91.000000,1.166667,0.000000,9.000000,43.4(29/jun),-4.8(11/ene),lleida
31,200.000000,0.0,2.000000,6.000000,93.000000,0.000000,0.000000,14.000000,41.000000,10.000000,1.200000,0.000000,7.727273,34.8(23/ago),-7.2(06/ene),lugo
32,465.500000,1189.0,34.000000,14.500000,114.000000,536.727273,291.454545,73.000000,224.000000,449.500000,28.495455,1.773611,38.000000,37.0(28/jun),-2.5(11/ene),madrid
33,42.000000,206.0,0.000000,0.000000,3.000000,132.000000,27.000000,2.000000,0.000000,6.090909,2.625000,0.000000,15.454545,0,0,malaga
34,56.000000,217.0,0.000000,2.000000,3.000000,7.454545,3.272727,7.000000,0.000000,25.000000,3.500000,0.500000,12.000000,34.9(08/ago),6.1(06/ene),melilla
35,97.000000,319.0,0.000000,1.000000,4.000000,184.500000,44.000000,14.500000,11.000000,191.000000,9.136364,0.000000,4.500000,42.6(09/ago),-1.4(12/ene),murcia
36,78.300000,100.5,2.150000,1.050000,9.150000,28.000000,54.000000,14.900000,2.545455,4.136364,2.571429,0.142857,6.500000,NaN,NaN,navarra
37,168.000000,0.0,0.000000,2.000000,34.000000,0.000000,0.000000,12.000000,25.000000,59.000000,0.181818,0.000000,5.000000,38.1(23/ago),-5.3(06/ene),ourense
38,172.000000,152.0,0.000000,5.500000,66.000000,94.500000,118.500000,8.000000,0.136364,7.636364,2.437500,0.062500,10.909091,33.9(31/may),1.1(02/ene),pontevedra
39,48.000000,99.0,0.500000,1.000000,17.000000,41.500000,42.000000,6.500000,48.150000,30.250000,4.000000,0.466667,10.472727,39.4(28/jun),-8.4(05/ene),salamanca
40,338.500000,819.0,12.000000,4.000000,106.000000,154.422222,61.022222,7.000000,38.000000,24.328283,30.061526,1.181818,99.898990,NaN,NaN,santa_cruz_de_tenerife
41,121.000000,0.0,10.000000,6.000000,11.000000,150.000000,0.000000,17.000000,31.000000,48.000000,3.444444,0.111111,11.000000,38.1(29/jun),-6.3(11/ene),segovia
42,56.000000,173.5,0.000000,1.000000,20.000000,82.500000,34.000000,8.000000,2.000000,62.900000,1.009091,0.000000,10.227273,39.7(17/ago),-2.0(08/ene),sevilla
43,9.181818,0.0,1.727273,0.090909,1.181818,0.000000,0.000000,2.272727,74.000000,46.000000,1.818182,0.090909,10.000000,37.9(29/jun),-5.3(15/ene),soria
44,75.500000,232.5,0.000000,0.500000,4.000000,94.000000,38.500000,13.000000,4.000000,84.500000,5.663636,0.709091,12.136364,36.1(29/jun),-2.7(11/ene),tarragona
45,39.611111,45.5,2.222222,1.000000,11.388889,64.800000,0.700000,10.277778,91.500000,68.500000,6.600000,0.000000,8.000000,39.5(29/jun),-8.1(05/ene),teruel
46,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.333333,9.777778,3.333333,0.222222,12.200000,0,0,toledo
47,63.000000,105.0,0.000000,0.000000,0.500000,0.000000,18.000000,8.500000,1.500000,64.000000,2.250000,0.250000,7.500000,41.4(09/ago),1.7(11/ene),valencia
48,101.000000,214.0,3.500000,5.000000,25.000000,80.500000,70.500000,13.000000,63.000000,51.000000,0.777778,0.000000,11.954545,39.8(28/jun),-5.5(05/ene),valladolid
49,85.000000,0.0,2.000000,6.000000,25.000000,0.000000,0.000000,8.000000,46.000000,63.000000,0.125000,0.000000,7.000000,39.1(28/jun),-5.3(07/ene),zamora
50,57.409091,201.5,0.181818,0.590909,8.636364,52.181818,30.409091,10.227273,43.500000,74.000000,6.542857,0.100000,12.500000,40.7(29/jun),-7.4(04/ene),zaragoza

In [192]:
parametros_con_clima=pd.merge(parametros_mar,climatologia, left_on='province', right_on='PROVINCIA', how='left')
#parametros_con_clima['ta_max_anual'].apply(doClean)

In [193]:
parametros_con_clima=parametros_con_clima.drop(['PROVINCIA'], axis=1)

In [252]:
parametros_con_clima

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,...,n_des_anual,n_cub_anual,n_tor_anual,nt_00_anual,nt_30_anual,nw_55_anual,nw_91_anual,w_med_anual,ta_max_anual,ta_min_anual
0,01001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,27.000000,120.000000,19.0,48.0,34.0,3.5,0.25,12.545455,39.7(29/jun),-7.7(06/ene)
1,01001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,27.000000,120.000000,19.0,48.0,34.0,3.5,0.25,12.545455,39.7(29/jun),-7.7(06/ene)
2,01002,01450,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,27.000000,120.000000,19.0,48.0,34.0,3.5,0.25,12.545455,39.7(29/jun),-7.7(06/ene)
3,01002,01468,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,27.000000,120.000000,19.0,48.0,34.0,3.5,0.25,12.545455,39.7(29/jun),-7.7(06/ene)
4,01002,01470,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,27.000000,120.000000,19.0,48.0,34.0,3.5,0.25,12.545455,39.7(29/jun),-7.7(06/ene)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14964,52001,52002,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,7.454545,3.272727,7.0,0.0,25.0,3.5,0.50,12.000000,34.9(08/ago),6.1(06/ene)
14965,52001,52003,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,7.454545,3.272727,7.0,0.0,25.0,3.5,0.50,12.000000,34.9(08/ago),6.1(06/ene)
14966,52001,52004,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,7.454545,3.272727,7.0,0.0,25.0,3.5,0.50,12.000000,34.9(08/ago),6.1(06/ene)
14967,52001,52005,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,7.454545,3.272727,7.0,0.0,25.0,3.5,0.50,12.000000,34.9(08/ago),6.1(06/ene)
14968,52001,52006,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,7.454545,3.272727,7.0,0.0,25.0,3.5,0.50,12.000000,34.9(08/ago),6.1(06/ene)

In [194]:
#parametros_con_clima.to_csv("union_parametros_mar.csv")

####  CONTAMINANTES

In [197]:
contaminantes=pd.read_csv("contaminantes_horario.csv",index_col=0,encoding="utf-8") #sep = ';')

In [201]:
ciudades=contaminantes.city.unique()

fill_rows=[]
for i in range(len(ciudades)) : 
    fill_rows.append(0)

indice =[]
contaminantes_ES_feb2020 = pd.DataFrame({'ciudades': ciudades ,'co':fill_rows,'no2':fill_rows,'o3':fill_rows,'pm10':fill_rows,'pm25':fill_rows,'so2':fill_rows})

In [265]:
indice =[]
contaminantes_ES_feb2020 = pd.DataFrame(index = indice , columns = ['co','no2','o3','pm10','pm25','so2'])
save_city=[]

for ciudad in ciudades:
    #print(ciudad)
    
    for num_parameters in contaminantes[(contaminantes['city'] == ciudad)].groupby('parameter').mean().index :
        
        #print(num_parameters)
        
        contaminantes_ES_feb2020.loc[ciudad,num_parameters]=contaminantes[(contaminantes['city'] == ciudad)].groupby('parameter').mean().loc[num_parameters,'value']

In [271]:
contaminantes_ES_feb2020_limpio=contaminantes_ES_feb2020.reset_index()
#contaminantes_ES_feb2020_limpio=contaminantes_ES_feb2020_limpio['index'].apply(doClean)

In [272]:
contaminantes_ES_feb2020_limpio=contaminantes_ES_feb2020_limpio.rename(columns = {'index':'ciudad'})
contaminantes_ES_feb2020_limpio['ciudad']=contaminantes_ES_feb2020_limpio['ciudad'].apply(doClean)

In [273]:
contaminantes_ES_feb2020_limpio

,ciudad,co,no2,o3,pm10,pm25,so2
0,navarra,349.716,15.0428,51.0958,44.9275,NaN,3.02055
1,barcelona,275.38,25.9469,44.1475,43.7906,NaN,1.73006
2,araba,181.641,11.2318,60.0819,57.1706,17.9722,1.87143
3,zaragoza,213.015,26.6824,36.3669,31.1398,NaN,4.4432
4,illes_balears,398.276,8.99995,91.9815,55.849,10.4833,2.30633
5,cantabria,301.132,14.7151,50.7764,79.9915,NaN,2.22023
6,madrid,572.08,29.0983,47.271,83.1242,26.5304,3.88095
7,bizkaia,245.702,19.9305,48.5081,54.9377,21.0314,4.37931
8,asturias,425.228,18.758,52.2965,75.8828,20.2899,6.9894
9,caceres,165.889,6.7095,57.809,NaN,NaN,1.51833
10,salamanca,NaN,7.41522,63.1166,72.2281,17.3684,1.90339
11,palencia,NaN,6.57522,58.1071,67.1754,NaN,6.05263
12,murcia,230.409,21.3048,45.5816,94.8455,NaN,7.82479
13,girona,372.881,11.2113,65.1291,NaN,NaN,0.981709
14,leon,477.193,9.22963,61.9065,85.8059,NaN,5.63004
15,guadalajara,215.69,16.9645,52.4116,119.898,NaN,2.54319
16,pontevedra,160.058,14.1671,47.7478,50.1552,18.5193,2.4194
17,gipuzkoa,203.413,18.1504,55.114,44.0041,14.48,1.25
18,valladolid,327.027,13.5255,56.59,51.8232,13.1197,6
19,tarragona,218.75,14.7046,57.7857,31.2143,NaN,2.85356
20,cadiz,659.571,18.3586,51.9406,31.1775,NaN,5.36019
21,segovia,469.643,10.8421,61.7321,69.25,NaN,3.92982
22,toledo,NaN,12.6419,52.8953,92.3855,37.7667,2.40854
23,lugo,100,4.32543,47.6567,63.219,23.9714,0.879915
24,burgos,335.965,9.15827,57.5982,73.0538,14.4561,2.32857
25,malaga,415.246,23.2195,55.3125,42.2833,NaN,5.03333
26,ciudad_real,187.667,12.2584,47.3826,74.6927,19.9167,5.39262
27,badajoz,169.045,5.76322,52.9934,NaN,NaN,1.85172
28,avila,NaN,6.96429,65.5614,95.193,NaN,2.24561
29,a_coruna,103.184,4.7919,64.2418,55.1356,18.5805,1.60681
30,lleida,156.522,7.4987,53.5272,NaN,NaN,1.14938
31,ourense,152.203,12.4093,50.2475,63.3111,20.1491,3.70672
32,granada,332.131,13.9256,68.8163,NaN,NaN,2.5242
33,huelva,658.867,10.3894,58.2115,37.9645,NaN,3.08024
34,zamora,NaN,13.2143,58.4107,53.5263,NaN,1.75439
35,cuenca,NaN,27.35,43.0847,110.833,NaN,2.66667
36,sevilla,446.023,18.1319,47.6329,32.1482,NaN,3.08696
37,soria,NaN,10.3182,53.6909,64.3214,NaN,3.53153
38,albacete,235.333,9.37288,52.0333,100.783,26.3833,2.06667
39,almeria,329.824,13.609,60.7798,70.05,NaN,3.22105
40,la_rioja,339.426,11.2874,51.3028,80.5714,17.9524,3.14918
41,valencia,140.97,11.7544,53.5446,66.0924,20.3033,3.36319
42,cordoba,276.143,16.7927,52.6522,30.525,NaN,3.1087
43,castellon,114.072,12.5958,58.6387,39.7616,14.2857,4.81709
44,alicante,128.044,16.5,58.0557,88.7877,20.6957,3.49206
45,santa_cruz_de_tenerife,NaN,14.6341,60.0513,22.961,7.15385,4.37333
46,jaen,267.594,21.1633,51.0682,NaN,NaN,4.38095
47,las_palmas,50,9.93103,69.898,22.4146,29.1395,3.7931
48,huesca,NaN,9.61111,51.1111,NaN,NaN,1.63889
49,teruel,NaN,12.0833,57.4167,NaN,NaN,1.66667

In [274]:
parametros_mar_final=pd.merge(parametros_con_clima,contaminantes_ES_feb2020_limpio, left_on='province', right_on='ciudad', how='left')

In [275]:
parametros_mar_final

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,...,w_med_anual,ta_max_anual,ta_min_anual,ciudad,co,no2,o3,pm10,pm25,so2
0,01001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,12.545455,39.7(29/jun),-7.7(06/ene),araba,181.641,11.2318,60.0819,57.1706,17.9722,1.87143
1,01001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,12.545455,39.7(29/jun),-7.7(06/ene),araba,181.641,11.2318,60.0819,57.1706,17.9722,1.87143
2,01002,01450,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,12.545455,39.7(29/jun),-7.7(06/ene),araba,181.641,11.2318,60.0819,57.1706,17.9722,1.87143
3,01002,01468,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,12.545455,39.7(29/jun),-7.7(06/ene),araba,181.641,11.2318,60.0819,57.1706,17.9722,1.87143
4,01002,01470,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,12.545455,39.7(29/jun),-7.7(06/ene),araba,181.641,11.2318,60.0819,57.1706,17.9722,1.87143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14964,52001,52002,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,12.000000,34.9(08/ago),6.1(06/ene),NaN,NaN,NaN,NaN,NaN,NaN,NaN
14965,52001,52003,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,12.000000,34.9(08/ago),6.1(06/ene),NaN,NaN,NaN,NaN,NaN,NaN,NaN
14966,52001,52004,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,12.000000,34.9(08/ago),6.1(06/ene),NaN,NaN,NaN,NaN,NaN,NaN,NaN
14967,52001,52005,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,12.000000,34.9(08/ago),6.1(06/ene),NaN,NaN,NaN,NaN,NaN,NaN,NaN
14968,52001,52006,melilla,melilla,melilla,melilla,melilla,melilla,melilla/melilla,melilla/melilla,...,12.000000,34.9(08/ago),6.1(06/ene),NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [276]:
parametros_mar_final.to_csv("union_parametros_mar.csv")