In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
import unidecode
import os

#### Funciones

In [2]:
def doClean(object):   
    
    # Quitar las expresiones tras la barra /
    a = re.sub('\/.*', '', object)
    # Quitar las aclaraciones entre paréntesis
    a = re.sub('\(.*\)', '', a)
    # Quitar acentos 
    a = unidecode.unidecode(a)
    # Quitar aquello que no sean palabras o cosa que se le parezca
    a = re.sub('\W', ' ', a) 
    # Quitar espacios extra en caso de haber
    a = re.sub('\s+', ' ', a)
    # Pasar el texto a minúsulas
    a = a.lower() 
    a = re.sub(' ', '_', a)
    #a = a.strip() 
    
    return a

#### Carga de ficheros

In [4]:
os.getcwd()

'/home/patcalsi/projects/Exodus_urbano/data/mar'

##### CARGAR MAESTRO

In [4]:
maestro_municipios_ine=pd.read_csv("maestro_idiomas_ine.csv", index_col=0,dtype={'postal_code': object,'ine_code': object})

In [6]:
maestro_municipios_ine.head(3)

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,cities_es/ccaa_es,cities_es/ccaa,cities/province_es,province_es/ccaa_es,province_es/ccaa,province/ccaa_es,province/ccaa
0,01001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi,alegria_dulantzi,alegria_dulantzi,alegria_dulantzi,alegria_dulantzi,alava,alava,araba,araba
1,01001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi,alegria_dulantzi,alegria_dulantzi,alegria_dulantzi,alegria_dulantzi,alava,alava,araba,araba
2,01002,01450,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio,amurrio,amurrio,amurrio,amurrio,alava,alava,araba,araba

In [6]:
maestro_municipios_ine=pd.read_csv("../patri/maestro_nivel_ine.csv", index_col=0,dtype={'ine_code': object})

In [7]:
maestro_municipios_ine.head()

   ine_code      cities_es/province
0     01001  alegria_dulantzi/araba
2     01002           amurrio/araba
5     01003           aramaio/araba
8     01004        artziniega/araba
10    01006           arminon/araba

##### Poblacion por género y edad

In [7]:
poblacion = pd.read_csv('pob_municipio_edad_genero.csv',sep = ';')

In [8]:
poblacion_genero = poblacion.rename(columns={'cp':'codigo ine','municipio':'localidad'})
poblacion_genero['codigo ine']=poblacion_genero['codigo ine'].apply("{:05d}".format)

In [9]:
poblacion_genero.head(3)

,codigo ine,localidad,Hombres,hombres total,hombres de 0-4,hombres de 5-9,hombres de 10-4,hombres de 15-19,hombres de 20-24,hombres de 25-29,...,mujeres de 55-59,mujeres de 60-64,mujeres de 65-69,mujeres de 70-74,mujeres de 75-79,mujeres de 80-84,mujeres de 85-89,mujeres de 90-94,mujeres de 95-99,mujeres de 100 y más
0,01051,Agurain/Salvatierra,1,2526,180,159,147,97,100,119,...,200,178,154,112,94,63,64,62,45,8
1,01001,Alegría,1,1501,75,123,119,99,58,54,...,132,74,54,54,43,36,15,18,7,2
2,01002,Amurrio,1,5100,278,296,249,202,227,227,...,408,416,405,339,263,205,170,133,83,18

In [10]:
poblacion_genero.drop(['Hombres'], axis=1,  inplace=True)

In [11]:
poblacion_genero.drop(['localidad'], axis=1,  inplace=True)

In [12]:
maestro_municipios_ine.head(3) #Se aprecia que hay 14729 municipios en el maestro, pero solo 8131 en poblacion_genero

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,cities_es/ccaa_es,cities_es/ccaa,cities/province_es,province_es/ccaa_es,province_es/ccaa,province/ccaa_es,province/ccaa
0,01001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi,alegria_dulantzi,alegria_dulantzi,alegria_dulantzi,alegria_dulantzi,alava,alava,araba,araba
1,01001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi,alegria_dulantzi,alegria_dulantzi,alegria_dulantzi,alegria_dulantzi,alava,alava,araba,araba
2,01002,01450,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio,amurrio,amurrio,amurrio,amurrio,alava,alava,araba,araba

In [13]:
union = pd.merge(maestro_municipios_ine, poblacion_genero, left_on='ine_code',right_on='codigo ine', how='left')

In [14]:
save=union.drop(['codigo ine'], axis=1)

In [58]:
#save.to_csv("union_poblacion.csv")

##### Parque automovilistico

In [15]:
parque_automovilistico_initial=pd.read_csv('parque_automoviles_2018.csv', encoding="utf-8",delim_whitespace=True)

In [16]:
parque_automovilistico_initial.head(3)

,PROVINCIAS,CAMIONES,FURGONETAS,AUTOBUSES,TURISMOS,MOTOCICLETAS,TRACTORES_INDUSTRIALES,R_Y_S,OTROS_VEHÍCULOS,TOTAL
0,Araba/Álava,14473,14749,538,158049,16011,1334,3208,4969,213331
1,Albacete,28809,21770,418,191601,25960,3438,5708,4224,281928
2,Alicante/Alacant,99962,78036,1646,998654,152164,5886,14206,12040,1362594

In [17]:
#parque_automovilistico_clean=parque_automovilistico_initial.rename(columns = {'PROVINCIAS':'provincia','CAMIONES':'camiones_provincia','FURGONETAS':'furgonetas_provincia','AUTOBUSES':'autobuses_provincia','TURISMOS':'turismos_provincia','MOTOCICLETAS':'motocicletas_provincia','TRACTORES_INDUSTRIALES':'tractores_industriales_provincia','R_Y_S':'r_y_s_provincia','OTROS_VEHÍCULOS':'otros_vehiculos_provincia','TOTAL':'total_provincia'})
def standardize_headers(x):
    return x.replace(' ', '_').lower()
parque_automovilistico_clean=parque_automovilistico_initial.rename(columns=standardize_headers)

In [18]:
parque_automovilistico_clean.head(3)

,provincias,camiones,furgonetas,autobuses,turismos,motocicletas,tractores_industriales,r_y_s,otros_vehículos,total
0,Araba/Álava,14473,14749,538,158049,16011,1334,3208,4969,213331
1,Albacete,28809,21770,418,191601,25960,3438,5708,4224,281928
2,Alicante/Alacant,99962,78036,1646,998654,152164,5886,14206,12040,1362594

In [19]:
parque_automovilistico_clean['provincias'] = parque_automovilistico_clean['provincias'].apply(doClean)

In [25]:
#test=pd.merge(maestro_municipios_ine,parque_automovilistico_clean, left_on='province', right_on='provincias', how='left')
test=pd.merge(save,parque_automovilistico_clean, left_on='province', right_on='provincias', how='left')

In [26]:
save2=test.drop(['provincias'], axis=1)

In [31]:
save2=save2.rename(columns = {'camiones':'camiones_provincia','furgonetas':'furgonetas_provincia','autobuses':'autobuses_provincia','turismos':'turismos_provincia','motocicletas':'motocicletas_provincia','tractores_industriales':'tractores_industriales_provincia','r_y_s':'r_y_s_provincia','otros_vehículos':'otros_vehiculos_provincia','total':'total_provincia'})
#Deberia hacerse una funcion para hacer esto automaticamente

In [34]:
save2.head(3)

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,...,mujeres de 100 y más,camiones_provincia,furgonetas_provincia,autobuses_provincia,turismos_provincia,motocicletas_provincia,tractores_industriales_provincia,r_y_s_provincia,otros_vehiculos_provincia,total_provincia
0,01001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi,alegria_dulantzi,...,2.0,14473.0,14749.0,538.0,158049.0,16011.0,1334.0,3208.0,4969.0,213331.0
1,01001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi,alegria_dulantzi,...,2.0,14473.0,14749.0,538.0,158049.0,16011.0,1334.0,3208.0,4969.0,213331.0
2,01002,01450,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio,amurrio,...,18.0,14473.0,14749.0,538.0,158049.0,16011.0,1334.0,3208.0,4969.0,213331.0

In [33]:
#test['hombres de 20-24'] ##test.to_csv("union_poblacion_parque_automovilistico.csv")

##### Latitud longitud y altitud

In [47]:
altitud_coordenadas_distancias_minimas=pd.read_csv('altitud_coordenadas_distancias_minimas.csv',index_col=0,dtype={'columns': float})

In [60]:
altitud_coordenadas_distancias_minimas

,comunidad,provincia,población,latitud,longitud,altitud,distanica_km,cuidad_mas_cercana
0,andalucia,almeria,abla,37.14114,-2.780104,871.16840,46.876723,El_Ejido
1,andalucia,almeria,abrucena,37.13305,-2.797098,976.93870,45.944207,El_Ejido
2,andalucia,almeria,adra,36.74807,-3.022522,10.97898,20.080240,El_Ejido
3,andalucia,almeria,albanchez,37.28710,-2.181163,481.31230,68.678517,Lorca
4,andalucia,almeria,alboloduy,37.03319,-2.621750,388.43460,38.276484,El_Ejido
...,...,...,...,...,...,...,...,...
8141,valencia,valencia,xeresa,39.00910,-0.217992,34.05847,28.415725,Torrente
8142,valencia,valencia,xirivella,39.46669,-0.427794,35.01973,23.491681,Paterna
8143,valencia,valencia,yatova,39.38500,-0.808174,441.81140,47.526626,Torrente
8144,valencia,valencia,yesa_,39.49916,-0.426125,52.28455,24.914638,Sabadell
8145,valencia,valencia,zarra,39.09138,-1.075068,576.03660,39.757059,Albacete

In [57]:
altitud_coordenadas_distancias_minimas['población'].apply(doClean)
altitud_coordenadas_distancias_minimas['provincia'].apply(doClean)
altitud_coordenadas_distancias_minimas['comunidad'].apply(doClean)

0       andalucia
1       andalucia
2       andalucia
3       andalucia
4       andalucia
          ...
8141     valencia
8142     valencia
8143     valencia
8144     valencia
8145     valencia
Name: comunidad, Length: 8146, dtype: object

In [59]:
save2

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,...,mujeres de 100 y más,camiones_provincia,furgonetas_provincia,autobuses_provincia,turismos_provincia,motocicletas_provincia,tractores_industriales_provincia,r_y_s_provincia,otros_vehiculos_provincia,total_provincia
0,01001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi,alegria_dulantzi,...,2.0,14473.0,14749.0,538.0,158049.0,16011.0,1334.0,3208.0,4969.0,213331.0
1,01001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi,alegria_dulantzi,...,2.0,14473.0,14749.0,538.0,158049.0,16011.0,1334.0,3208.0,4969.0,213331.0
2,01002,01450,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio,amurrio,...,18.0,14473.0,14749.0,538.0,158049.0,16011.0,1334.0,3208.0,4969.0,213331.0
3,01002,01468,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio,amurrio,...,18.0,14473.0,14749.0,538.0,158049.0,16011.0,1334.0,3208.0,4969.0,213331.0
4,01002,01470,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio,amurrio,...,18.0,14473.0,14749.0,538.0,158049.0,16011.0,1334.0,3208.0,4969.0,213331.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14724,52001,52002,melilla,melilla,melilla,melilla,melilla,melilla,melilla,melilla,...,53.0,4191.0,9095.0,62.0,45293.0,6731.0,108.0,581.0,654.0,66715.0
14725,52001,52003,melilla,melilla,melilla,melilla,melilla,melilla,melilla,melilla,...,53.0,4191.0,9095.0,62.0,45293.0,6731.0,108.0,581.0,654.0,66715.0
14726,52001,52004,melilla,melilla,melilla,melilla,melilla,melilla,melilla,melilla,...,53.0,4191.0,9095.0,62.0,45293.0,6731.0,108.0,581.0,654.0,66715.0
14727,52001,52005,melilla,melilla,melilla,melilla,melilla,melilla,melilla,melilla,...,53.0,4191.0,9095.0,62.0,45293.0,6731.0,108.0,581.0,654.0,66715.0
14728,52001,52006,melilla,melilla,melilla,melilla,melilla,melilla,melilla,melilla,...,53.0,4191.0,9095.0,62.0,45293.0,6731.0,108.0,581.0,654.0,66715.0

In [69]:
#print((save2[save2['cities_es'] == 'zarra']))

In [67]:
parametros_mar=pd.merge(save2,altitud_coordenadas_distancias_minimas, left_on='cities_es', right_on='población', how='left')

In [68]:
parametros_mar

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,...,otros_vehiculos_provincia,total_provincia,comunidad,provincia,población,latitud,longitud,altitud,distanica_km,cuidad_mas_cercana
0,01001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi,alegria_dulantzi,...,4969.0,213331.0,pais_vasco,alava,alegria_dulantzi,42.84149,-2.513507,561.6857,34.443702,Bilbao
1,01001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi,alegria_dulantzi,...,4969.0,213331.0,pais_vasco,alava,alegria_dulantzi,42.84149,-2.513507,561.6857,34.443702,Bilbao
2,01002,01450,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio,amurrio,...,4969.0,213331.0,pais_vasco,alava,amurrio,43.05265,-3.001022,219.6910,34.194237,Getxo
3,01002,01468,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio,amurrio,...,4969.0,213331.0,pais_vasco,alava,amurrio,43.05265,-3.001022,219.6910,34.194237,Getxo
4,01002,01470,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio,amurrio,...,4969.0,213331.0,pais_vasco,alava,amurrio,43.05265,-3.001022,219.6910,34.194237,Getxo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14964,52001,52002,melilla,melilla,melilla,melilla,melilla,melilla,melilla,melilla,...,654.0,66715.0,ceuta_y_melilla,melilla,melilla,35.29234,-2.938794,10.3337,0.282370,Melilla
14965,52001,52003,melilla,melilla,melilla,melilla,melilla,melilla,melilla,melilla,...,654.0,66715.0,ceuta_y_melilla,melilla,melilla,35.29234,-2.938794,10.3337,0.282370,Melilla
14966,52001,52004,melilla,melilla,melilla,melilla,melilla,melilla,melilla,melilla,...,654.0,66715.0,ceuta_y_melilla,melilla,melilla,35.29234,-2.938794,10.3337,0.282370,Melilla
14967,52001,52005,melilla,melilla,melilla,melilla,melilla,melilla,melilla,melilla,...,654.0,66715.0,ceuta_y_melilla,melilla,melilla,35.29234,-2.938794,10.3337,0.282370,Melilla
14968,52001,52006,melilla,melilla,melilla,melilla,melilla,melilla,melilla,melilla,...,654.0,66715.0,ceuta_y_melilla,melilla,melilla,35.29234,-2.938794,10.3337,0.282370,Melilla

In [70]:
parametros_mar.drop(['provincia','población'], axis=1,  inplace=True)

In [72]:
parametros_mar.to_csv("union_parametros_mar.csv")